<div class='sidenav'>

    <div class='sidenav-header'>
    </div>
    
    <ul class='list-group'>
        <li class='list-group-item'><a href='/index.html'>InvenTree</a></li>
        <li class='list-group-item'><a href='/parts.html'>Parts</a></li>
        <li class='list-group-item'><a href='/stock.html'>Stock</a></li>
        <li class='list-group-item'><a href='/suppliers.html'>Suppliers</li>
        <li class='list-group-item'><a href='/build.html'>Builds</a></li>
    </ul>
    
    <div class='sidenav-footer'>
        <img class='sidenav-logo' src='/assets/img/inventree.png' alt='InvenTree Logo'/>
    </div>
</div>