/* Theme color definitions */
:root {
    --color-bg: #FFFFFF;
    --color-main: #1D222B;
    --color-primary: #ABBBD8;
    --color-highlight: #19489F;
} 

.h1, h1 {
    font-size: 2.0rem;
}

.h2, h2 {
    font-size: 1.5rem;
}

.h3, h3 {
    font-size: 1.25rem;
}

.h4, h4 {
    font-size: 1.1rem;
}

.sidenav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: var(--color-highlight);
}

.sidenav-title {
    color: var(--color-main);
}

#content {
    background-color: var(--color-bg);
    color: var(--color-main);
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.title {
    position: fixed;
    top: 0;
    background-color: var(--color-main);
    width: 100%;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: 175px;
    margin-bottom: 15px;
    height: 55px;
    color: var(--color-bg);
}

.title-string {
    padding-left: 30px;
}

body {
    background-color: var(--color-bg);
}

.sidenav-footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-bottom: 15px;
}

.sidenav-logo {
    width: 125px;
}

.sidenav-selected {
    text-decoration: underline;
}

.github-logo {
    width: 32px;
}

.page-wrapper {
    margin-left: 175px;
    padding: 0px 10px;
    padding-top: 10px;
    padding-left: 20px;
}

.main {
    padding-top: 15px;
}

.list-group {
    padding: 0px;
}

.sidenav .list-group-item {
    width: 100%;
    color: var(--color-highlight);
    border: none;
    background-color: var(--color-primary);
}

.list-group-item a {
    color: var(--color-highlight);
}

.sidenav .list-group-sub-item {
    padding: .5rem .25rem;
    font-size: .85rem;
    position: relative;
    display: block;
    padding-left: 1.75rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border: none;
    width: 100%;
    background-color: var(--color-primary);
}

.list-group-sub-item a {
    color: var(--color-highlight);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.img-inline {
    max-height: 200px;
    max-width: 100%;
    border: 1px solid;
    border-color: var(--color-main);
    border-radius: 2px;
}